<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo-app-with-vue-cli</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <header>
        <h1>Todo App</h1>
    </header>
    <main id="app">
        <form onsubmit="return false">
            <input v-model="text" placeholder="Get shit done!">
            <button @click="newTodoToData()">Add</button>
        </form>

        <div class="filter">
            <h2>Filter & Options</h2>


            <input type="radio" id="filterAll" @click="filterAll()" :checked="filter === 'all'">
            <label for="filterAll">All</label>

            <input type="radio" id="filterOpen" @click="filterOpens()" :checked="filter === 'opens'">
            <label for="filterOpen">Open</label>

            <input type="radio" id="filterDone" @click="filterDones()" :checked="filter === 'dones'">
            <label for="filterDone">Done</label>
        </div>

        <button id="removeDoneTodos" @click="deleteDones()">Remove Done Todos</button>

        <div>
            <h2>Your Todos</h2>
            <ul>
                <li v-for="(todo ,index) in todos" :key="index" :hidden="todo.hidden">
                    <input type="checkbox" :id="index" :checked="todo.done" @click="checkTodo">
                    <label for="index" :class="todo.doneClass">{{todo.description}}</label>
                </li>
            </ul>

        </div>
    </main>



    <script src="script.js"></script>
</body>

</html>